.App {
  text-align: center;
}

h1 {
  font-size: 200px;
  font-family: 'Francois One', sans-serif;
  font-style: italic;
  color: gold;
  margin-left: 38%;
}

#dropdown-basic {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  color: silver;
  font-size: 40px;
  margin-top: 5%;
  margin-left: 40%;
}

.column {
  margin: auto;
  width: 50%;
  height: max-content;
  text-align: center;
  border: 3px solid;
  padding: 10px;
}

.logo {
  height: 50%;
  width: 50%;
  margin-left: 21%;
  margin-top: 10%;
}

.PlayerPhoto {
  height: 20%;
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  margin-bottom: 10%;
}

.PlayerSong {
  font-size: 500px;
  font-family: 'Francois One', sans-serif;
  font-style: italic;
  margin-left: 15px;
  color: silver;
}
.PlayerName {
  font-size: x-large;
  font-family: 'Francois One', sans-serif;
  font-style: italic;
  color: gold;
  margin-left: auto;
  margin-top: 10%;
}

 