.App {
  text-align: center;
}

h1 {
  font-size: 90px;
  font-family: 'Francois One', sans-serif;
  font-style: italic;
  color: gold;
  margin-left: 38%;
 
}

#dropdown-basic {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  color: silver;
  font-size: 40px;
  margin-top: 10%;
  margin-left: 40%;
}

 