.App {
  text-align: center;
}

h1 {
  font-size: 90px;
  font-family: 'Francois One', sans-serif;
  font-style: italic;
  color: gold;
  margin-left: 38%;
 
}

#dropdown-basic {
  text-align: center;
  font-family: 'Francois One', sans-serif;
  color: silver;
  font-size: 40px;
  margin-top: 5%;
  margin-left: 40%;
}

.column {
  margin: auto;
  width: 50%;
  height: max-content;
  text-align: center;
  border: 3px solid;
  padding: 10px;
}

.song {
  text-align: center;
  color: silver;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: larger;

}

.logo {
  height: 50%;
  width: 50%;
  margin-left: 21%;
  margin-top: 10%;
}

 